.btn-step {
    background-color: white;
    display: block;
    font-weight: bold;
    margin-left: 1px;
    text-align: center;
    width: 2em;
} 

.btn-step:hover {
    background-color: yellow;
    cursor: pointer;
} 

.hiding {
    animation-duration: 5s;
    animation-name: hiding;
    animation-fill-mode: both;
}

@keyframes hiding {
    from { 
        height: inherit;
        opacity: 1;
    }
    to { 
        height: 0;
        opacity: 0;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

input[readonly] {
    background-color: white !important;
}

.input-step {
    width: 4em;
}

th, td {
    vertical-align: middle !important;
}


/* colors */

.aquamarine {
    background-color: aquamarine;
}

.darkseagreen {
    background-color: darkseagreen;
}

.deepskyblue {
    background-color: deepskyblue;
}

.gold {
    background-color: gold;
}

.yellowgreen {
    background-color: yellowgreen;
}

.khaki {
    background-color: khaki;
}

.lightpink {
    background-color: lightpink;
}

.orangered {
    background-color: orangered;
}

.peachpuff {
    background-color: peachpuff;
}

.powderblue {
    background-color: powderblue;
}

.thistle {
    background-color: thistle;
}

.tomato {
    background-color: tomato;
}

.white {
    background-color: white;
}

/* colors end */
