.btn-step {
  background-color: white;
  display: block;
  font-weight: bold;
  margin-left: 1px;
  text-align: center;
  width: 2em;
} 

.btn-step:hover {
  background-color: yellow;
  cursor: pointer;
} 

.btn-cnt {
  align-self: center;
  width: 0;
  height: 0;
  border-style: solid;
  &:hover {
    cursor:pointer;
  }
}   

.btn-cnt-down {
  border-width: 15px 10px 0 10px;
  border-color: black transparent transparent;
  margin-left: .5em;
  &:hover {
    border-color: red transparent transparent;
  }
}

.btn-cnt-up {
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent black transparent;
  margin-right: .5em;
  &:hover {
    border-color: transparent transparent green transparent;
  }
}   