.aquamarine {
  background-color: aquamarine !important;
}

.darkseagreen {
  background-color: darkseagreen !important;
}

.deepskyblue {
  background-color: deepskyblue !important;
}

.gold {
  background-color: gold !important;
}

.khaki {
  background-color: khaki !important;
}

.lightpink {
  background-color: lightpink !important;
}

.orangered {
  background-color: orangered !important;
}

.peachpuff {
  background-color: peachpuff !important;
}

.powderblue {
  background-color: powderblue !important;
}

.thistle {
  background-color: thistle !important;
}

.tomato {
  background-color: tomato !important;
}

.white {
  background-color: white !important;
}

.yellowgreen {
  background-color: yellowgreen !important;
}