.aquamarine {
  background-color: aquamarine;
}

.darkseagreen {
  background-color: darkseagreen;
}

.deepskyblue {
  background-color: deepskyblue;
}

.gold {
  background-color: gold;
}

.khaki {
  background-color: khaki;
}

.lightpink {
  background-color: lightpink;
}

.orangered {
  background-color: orangered;
}

.peachpuff {
  background-color: peachpuff;
}

.powderblue {
  background-color: powderblue;
}

.thistle {
  background-color: thistle;
}

.tomato {
  background-color: tomato;
}

.white {
  background-color: white;
}

.yellowgreen {
  background-color: yellowgreen;
}