{% extends 'templates/layout.twig' %}

{% block content %}
    <h3 class="my-5">Изменить пароль</h3>
    <form action="{{ path_for('user.edit') }}" method="POST">
        <div class="form-group">
            <label for="password">Новый пароль</label>
            <input class="form-control" name="password" id="password" type="password">
        </div>
        <div class="form-group">
            <label for="password2">Новый пароль (повтор)</label>
            <input class="form-control" name="password2" id="password2" type="password">
        </div>
        <div class="form-group">
            <label for="password-current">Текущий пароль</label>
            <input class="form-control" name="password-current" id="password-current" type="password">
        </div>
        <div class="form-group">
            <button class="btn btn-success" id="btn-save-pwd" type="submit" disabled>Записать</button>
        </div>  
        {{ csrf.field|raw }}
    </form>
</div>
{% endblock %}
