{% extends 'templates/layout-empty.twig' %}

{% block content %}
    {% if places|length %}
    <form action="{{ path_for('base.index2') }}" method="POST" id="bases"> 
        <table class="table table-striped table-sm">
            {% include 'base/partials/_header-rates.twig' %}
            {% include 'base/partials/_buy-rates.twig' %}
            {% include 'base/partials/_rates-splitter.twig' %}
            {% include 'base/partials/_sale-rates.twig' %}
            {% include 'base/partials/_rates-splitter.twig' %}
        </table>

        <div class="d-flex justify-content-start p-2" style="background-color: #eee">
            <div class="col-4" style="overflow: auto">
                {% include 'base/partials/_table-cross-rates.twig' %}
            </div>
            <div class="col-8" style="overflow: auto; border-left: 2px solid #ccc">
                {% include 'base/partials/_table-base-rates.twig' %}    
            </div>
        </div>
        <div class="mt-2">
            {% include 'base/partials/_nav-buttons.twig' %}
        <div>
        {{ csrf.field | raw}}  
    </form>
    {% endif %}
    
    {% include 'base/partials/_form-modal.twig' %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
