<button class="btn btn-sm btn-primary ml-2 text-uppercase" type="submit">Записать</button>
<a class="btn btn-sm btn-success ml-2 text-uppercase" href="{{ path_for('rate.send') }}"  role="button">Отправить по Е-mail</a>
<a class= "btn btn-sm btn-primary ml-2 text-white text-uppercase" data-toggle="modal" data-target="#modalForm">Сообщение (Телеграм)</a>